<h1 id="Aboutme" class="content">About Myself!</h1>

<div class="about" >
    <div class="aboutMe">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis doloremque, sequi labore unde voluptatibus quisquam ab incidunt exercitationem saepe itaque libero nobis dolorem iure possimus consequatur ipsum, debitis architecto?
        </p>
    </div>

    <div class="aboutMe">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis doloremque, sequi labore unde voluptatibus quisquam ab incidunt exercitationem saepe itaque libero nobis dolorem iure possimus consequatur ipsum, debitis architecto?
        </p>
    </div>

   
</div>

