<h1 class="content" style="color:black; font-weight: bold;">About José!</h1>

<div class="about" >
    <div class="aboutMe">
        <h1>About Myself</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis doloremque, sequi labore unde voluptatibus quisquam ab incidunt exercitationem saepe itaque libero nobis dolorem iure possimus consequatur ipsum, debitis architecto?
        </p>
    </div>

    <div class="slider">
        
        <div class="slide-track">
            
            <div class="slide"><img src="../../../assets/img/html-logo.png" alt="">
            </div>
            
            <div class="slide"><img src="../../../assets/img/css-logo.png" alt="">
            </div>
            
            <div class="slide"><img src="../../../assets/img/js-logo.png" alt="">
            </div>
            
            <div class="slide"><img src="../../../assets/img/bootstrap-logo.png" alt="">
            </div>
            
            <div class="slide"><img src="../../../assets/img/angular-logo.png" alt="">
            </div>


            <div class="slide"><img src="../../../assets/img/html-logo.png" alt="">
            </div>
            
            <div class="slide"><img src="../../../assets/img/css-logo.png" alt="">
            </div>
            
            <div class="slide"><img src="../../../assets/img/js-logo.png" alt="">
            </div>
            
            <div class="slide"><img src="../../../assets/img/bootstrap-logo.png" alt="">
            </div>
            
            <div class="slide"><img src="../../../assets/img/angular-logo.png" alt="">
            </div>
        </div>
    </div>

</div>

