<h1 id="Skills" class="content">Acquired Skills! </h1>

<div class="slider">
        
    <div class="slide-track">
        
        <div class="slide"><img src="../../../assets/img/html-logo.png" alt="">
        </div>
        
        <div class="slide"><img src="../../../assets/img/css-logo.png" alt="">
        </div>
        
        <div class="slide"><img src="../../../assets/img/js-logo.png" alt="">
        </div>
        
        <div class="slide"><img src="../../../assets/img/bootstrap-logo.png" alt="">
        </div>
        
        <div class="slide"><img src="../../../assets/img/angular-logo.png" alt="">
        </div>


        <div class="slide"><img src="../../../assets/img/html-logo.png" alt="">
        </div>
        
        <div class="slide"><img src="../../../assets/img/css-logo.png" alt="">
        </div>
        
        <div class="slide"><img src="../../../assets/img/js-logo.png" alt="">
        </div>
        
        <div class="slide"><img src="../../../assets/img/bootstrap-logo.png" alt="">
        </div>
        
        <div class="slide"><img src="../../../assets/img/angular-logo.png" alt="">
        </div>
    </div>
</div>
