// Importar variables y mixins
@import 'base/_variables';
@import 'base/_mixins';

// Importar estilos globales
@import 'base/_normalize';
@import 'base/_utilidades';
@import 'base/_globales';
@import 'base/animaciones';
@import 'base/navbar';

.no-webp .inicio {
    background-image: url(../../../assets/img/Home-img.jpg) ; 
}
.webp .inicio {
    background-image: url(../../../assets/img/Home-img.webp);
}

.header{
        background-color: $AzulOscuro;
        padding: 1rem 0 3rem 0;

        &.inicio{
            background-position: center center;
            background-size: cover;

            @include tablet{
                min-height: 85rem;
            }
        }
}

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
    }
    
}



