<header class="header inicio">
    <div class="container navbar-content">
        <div class="barra" >

            <a href="/">
                <img src="favicon.ico" class="img-responsive d-none d-md-block" alt="Logo">
            </a>

            <div 
                (click)="ocultarMostrar()" 
                class="mobile-menu">
                
                <img src="../../../assets/img/barras.svg" alt="barra">
            </div>

            <nav class="navegacion" >
                <a href="/">About Me</a>
                <a href="/">Skills</a>
                <a href="/">Contact</a>
            </nav>
        </div>
        <h1 class="visible">José Roberto Núñez Peña <span class="content">Web Developer</span></h1>

    </div>
</header>
