// Importar variables y mixins
@import 'base/_variables';
@import 'base/_mixins';

// Importar estilos globales
@import 'base/_normalize';
@import 'base/_utilidades';
@import 'base/_globales';

.no-webp .inicio {
    background-image: url(../../../assets/img/Home-img.jpg) ; 
}
.webp .inicio {
    background-image: url(../../../assets/img/Home-img.webp);
}

.header{
        background-color: $AzulOscuro;
        padding: 1rem 0 3rem 0;

        &.inicio{
            background-position: center center;
            background-size: cover;

            @include tablet{
                min-height: 85rem;
            }
        }
}

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
    }
    
}

.navegacion{

    display: none;

    @include tablet{
        display: flex;
        align-items: center;
    }

    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        border-bottom: solid;
        border-color: $blanco;
        padding: 0 2rem 0 2rem;

        
        &:hover{
            color: $verde;
            border-color: $Azul;
        }

        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

}

.navbar-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet{
        min-height: 70rem;
    }

    h1 {
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        line-height: 1.5;
        max-width: 50rem;
       span{
        color: $Azul;
       }

        
    }
}

.mobile-menu{
    @include tablet{
        display: none;
    }

    img{
        width: 5rem;
    }
}

.content {
    font-size: 36px;
    font-family: Consolas, monospace;
    color: #ecf0f1;
    height: 40px;
    position: relative;
  }
  .content:before {
    content: '[';
    position: relative;
  }
  .content:after {
    content: ']';
    position: relative;
  }
  .content:after,
  .content:before {
    color: #16a085;
    font-size: 42px;
    animation: 2s linear 0s normal none infinite opacity;
    -webkit-animation: 2s ease-out 0s normal none infinite opacity;
    -moz-animation: 2s ease-out 0s normal none infinite opacity;
    -o-animation: 2s ease-out 0s normal none infinite opacity;
  }
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes change {
    0% {
      margin-top: 0;
    }
    15% {
      margin-top: 0;
    }
    25% {
      margin-top: -40px;
    }
    40% {
      margin-top: -40px;
    }
    50% {
      margin-top: -80px;
    }
    65% {
      margin-top: -80px;
    }
    75% {
      margin-top: -40px;
    }
    85% {
      margin-top: -40px;
    }
    100% {
      margin-top: 0;
    }
  }
  @keyframes change {
    0% {
      margin-top: 0;
    }
    15% {
      margin-top: 0;
    }
    25% {
      margin-top: -40px;
    }
    40% {
      margin-top: -40px;
    }
    50% {
      margin-top: -80px;
    }
    65% {
      margin-top: -80px;
    }
    75% {
      margin-top: -40px;
    }
    85% {
      margin-top: -40px;
    }
    100% {
      margin-top: 0;
    }
  }
