.form{
    max-width: 100rem;
    border: 1px gray;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 1rem;
    margin-bottom: 2rem;

    .form-control{
            font-size: 2rem;
    }

    .btn{
        font-size: 3rem;
        width: 100%;
    }
}